.search-box {
    position: relative;
    margin-top: 20px;
}

.search-box input[type="text"] {
    border-radius: 5px;
    padding-right: 35px;
}

.search-box .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.logo {
    font-size: 48pt;
    font-weight: bold;
    text-align: center;
}

.results {
    margin-top: 3em;
}

.favicon {
    padding-right: 0.5em;
}

.card { border: none; }
.card ul {
    display: flex;
    padding: 0;
    list-style: none;
    max-height: .5em;
}

.card li {
    margin-right: 2em;
    padding-right: .3em; 
}

em {
    background-color: gold;
    padding: 2px;
}

.navbar-custom {
    border-bottom: 4px solid #f8f9fa;
}

.navbar-custom .navbar-nav .nav-link {
    color: #6c757d;
}

.navbar-toggler {
    border-color: #6c757d;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h3.results-section {
    border-bottom: 1px solid #6c757d;
    font-size: larger;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn ease 0.5s;
    animation-fill-mode: forwards;
}
