<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iQ - Die persönliche Suchmaschine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    {% include 'nav.html' %}

    {% if query %}
    <div class="container results">
        <div class="search-box">
            <form method="GET" action="/q">
                <input type="text" class="form-control" placeholder="Suchbegriff" name="query" value="{{ query }}">
                <span class="search-icon">
                    <i class="fa fa-search"></i>
                </span>
            </form>
        </div>

        <p class="text-end small text-muted">{{ hits.total.value }} {{ hits.total.value | pluralize("Ergebnis",
            "Ergebnisse") }} in {{ es_time }}ms</p>

        {% for hit in hits.hits %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ hit._source.title }}</h5>
                <p class="card-text">
                    {% if hit.highlight %}
                    {{ hit.highlight.paragraphs[0] | safe }}
                    {% endif %}
                </p>
                <i class="fa-solid fa-link text-muted"></i> <a href="{{ hit._source.url }}" class="site">{{
                    hit._source.url }}</a>
            </div>
            <div class="card-footer text-muted small">
                <ul>
                    <li><i class="fa-regular fa-star" title="Treffer-Score"></i> {{ hit._score | decimal(1) }}</li>
                    <li data-bs-toggle="popover" data-doc-id="{{ hit._id }}">
                        <i class="fa-regular fa-eye" title="Klick für eine Vorschau"></i> Vorschau
                    </li>
                    <li><i class="fa-regular fa-clock" title="Zuletzt indexiert."></i> {{ hit._source.last_seen |
                        humanize }}</li>
                </ul>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Keine Ergebnisse</h5>
                <h6 class="card-subtitle mb-2 text-muted">Keine Dokumente mit diesem Schlüsselwort gefunden.</h6>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    {% include 'searchbox.html' %}
    {% endif %}

    <!-- SCRIPTS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/preview.js"></script>
</body>

</html>