
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-6"><span class="logo text-muted">iQ</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="search-box">
                <form method="GET" action="/q">
                    <input type="text" class="form-control" placeholder="Suchbegriff" name="query"
                        value="{{ query }}">
                    <span class="search-icon">
                        <i class="fa fa-search"></i>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
